@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
.social-media-icon:hover {
  background-color: #cacaca;
}
a {
  text-decoration: none;
}
nav {
  background-color: white;
}
.nav-item:hover,
.navbar-brand:hover {
  background-color: #cacaca; /* Bootstrap warning color */
}
#navbarNav {
  transition: 0.5s;
}
.btn {
  margin-bottom: 10px;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 10px;
}
.navbar-toggler.collapsed .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}
.navbar-toggler.collapsed .bar2 {
  opacity: 0;
}
.navbar-toggler.collapsed .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

.gradient {
  background: linear-gradient(
    10deg,
    #339af0,
    #5c7cfa,
    #845ef7,
    #cc5de8,
    #f06595,
    #ff6b6b,
    #20c997,
    #22b8cf
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
